<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyue.mapper.BasicDetailMapper">
  <resultMap id="BaseResultMap" type="com.heyue.model.BasicDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="detail_type" jdbcType="VARCHAR" property="detailType" />
    <result column="detail_name" jdbcType="VARCHAR" property="detailName" />
    <result column="detail_code" jdbcType="VARCHAR" property="detailCode" />
    <result column="unit" jdbcType="INTEGER" property="unit" />
    <result column="round_up" jdbcType="INTEGER" property="roundUp" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="labor_cost" jdbcType="DOUBLE" property="laborCost" />
    <result column="auxiliary_material_cost" jdbcType="DOUBLE" property="auxiliaryMaterialCost" />
    <result column="labor_price" jdbcType="DOUBLE" property="laborPrice" />
    <result column="accessories_price" jdbcType="DOUBLE" property="accessoriesPrice" />
    <result column="auxiliary_material_loss_rate" jdbcType="DOUBLE" property="auxiliaryMaterialLossRate" />
    <result column="engineering_stage" jdbcType="INTEGER" property="engineeringStage" />
    <result column="construction_type" jdbcType="INTEGER" property="constructionType" />
    <result column="material_description" jdbcType="VARCHAR" property="materialDescription" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="shelf_status" jdbcType="INTEGER" property="shelfStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, category_id, detail_type, detail_name, detail_code, unit, round_up, sort, labor_cost, 
    auxiliary_material_cost, labor_price, accessories_price, auxiliary_material_loss_rate, 
    engineering_stage, construction_type, material_description, image, shelf_status
  </sql>
  <select id="selectByExample" parameterType="com.heyue.model.BasicDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from basic_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause} desc
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from basic_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from basic_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.heyue.model.BasicDetailExample">
    delete from basic_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.heyue.model.BasicDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into basic_detail (id,category_id, detail_type, detail_name,
      detail_code, unit, round_up, 
      sort, labor_cost, auxiliary_material_cost, 
      labor_price, accessories_price, auxiliary_material_loss_rate, 
      engineering_stage, construction_type, material_description, 
      image, shelf_status)
    values (#{id,jdbcType=BIGINT},#{categoryId,jdbcType=BIGINT}, #{detailType,jdbcType=VARCHAR}, #{detailName,jdbcType=VARCHAR},
      #{detailCode,jdbcType=VARCHAR}, #{unit,jdbcType=INTEGER}, #{roundUp,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{laborCost,jdbcType=DOUBLE}, #{auxiliaryMaterialCost,jdbcType=DOUBLE}, 
      #{laborPrice,jdbcType=DOUBLE}, #{accessoriesPrice,jdbcType=DOUBLE}, #{auxiliaryMaterialLossRate,jdbcType=DOUBLE}, 
      #{engineeringStage,jdbcType=INTEGER}, #{constructionType,jdbcType=INTEGER}, #{materialDescription,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{shelfStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.heyue.model.BasicDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into basic_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="detailType != null">
        detail_type,
      </if>
      <if test="detailName != null">
        detail_name,
      </if>
      <if test="detailCode != null">
        detail_code,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="roundUp != null">
        round_up,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="laborCost != null">
        labor_cost,
      </if>
      <if test="auxiliaryMaterialCost != null">
        auxiliary_material_cost,
      </if>
      <if test="laborPrice != null">
        labor_price,
      </if>
      <if test="accessoriesPrice != null">
        accessories_price,
      </if>
      <if test="auxiliaryMaterialLossRate != null">
        auxiliary_material_loss_rate,
      </if>
      <if test="engineeringStage != null">
        engineering_stage,
      </if>
      <if test="constructionType != null">
        construction_type,
      </if>
      <if test="materialDescription != null">
        material_description,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="shelfStatus != null">
        shelf_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="detailType != null">
        #{detailType,jdbcType=VARCHAR},
      </if>
      <if test="detailName != null">
        #{detailName,jdbcType=VARCHAR},
      </if>
      <if test="detailCode != null">
        #{detailCode,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="roundUp != null">
        #{roundUp,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="laborCost != null">
        #{laborCost,jdbcType=DOUBLE},
      </if>
      <if test="auxiliaryMaterialCost != null">
        #{auxiliaryMaterialCost,jdbcType=DOUBLE},
      </if>
      <if test="laborPrice != null">
        #{laborPrice,jdbcType=DOUBLE},
      </if>
      <if test="accessoriesPrice != null">
        #{accessoriesPrice,jdbcType=DOUBLE},
      </if>
      <if test="auxiliaryMaterialLossRate != null">
        #{auxiliaryMaterialLossRate,jdbcType=DOUBLE},
      </if>
      <if test="engineeringStage != null">
        #{engineeringStage,jdbcType=INTEGER},
      </if>
      <if test="constructionType != null">
        #{constructionType,jdbcType=INTEGER},
      </if>
      <if test="materialDescription != null">
        #{materialDescription,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="shelfStatus != null">
        #{shelfStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.heyue.model.BasicDetailExample" resultType="java.lang.Long">
    select count(*) from basic_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update basic_detail
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.categoryId != null">
        category_id = #{row.categoryId,jdbcType=BIGINT},
      </if>
      <if test="row.detailType != null">
        detail_type = #{row.detailType,jdbcType=VARCHAR},
      </if>
      <if test="row.detailName != null">
        detail_name = #{row.detailName,jdbcType=VARCHAR},
      </if>
      <if test="row.detailCode != null">
        detail_code = #{row.detailCode,jdbcType=VARCHAR},
      </if>
      <if test="row.unit != null">
        unit = #{row.unit,jdbcType=INTEGER},
      </if>
      <if test="row.roundUp != null">
        round_up = #{row.roundUp,jdbcType=INTEGER},
      </if>
      <if test="row.sort != null">
        sort = #{row.sort,jdbcType=INTEGER},
      </if>
      <if test="row.laborCost != null">
        labor_cost = #{row.laborCost,jdbcType=DOUBLE},
      </if>
      <if test="row.auxiliaryMaterialCost != null">
        auxiliary_material_cost = #{row.auxiliaryMaterialCost,jdbcType=DOUBLE},
      </if>
      <if test="row.laborPrice != null">
        labor_price = #{row.laborPrice,jdbcType=DOUBLE},
      </if>
      <if test="row.accessoriesPrice != null">
        accessories_price = #{row.accessoriesPrice,jdbcType=DOUBLE},
      </if>
      <if test="row.auxiliaryMaterialLossRate != null">
        auxiliary_material_loss_rate = #{row.auxiliaryMaterialLossRate,jdbcType=DOUBLE},
      </if>
      <if test="row.engineeringStage != null">
        engineering_stage = #{row.engineeringStage,jdbcType=INTEGER},
      </if>
      <if test="row.constructionType != null">
        construction_type = #{row.constructionType,jdbcType=INTEGER},
      </if>
      <if test="row.materialDescription != null">
        material_description = #{row.materialDescription,jdbcType=VARCHAR},
      </if>
      <if test="row.image != null">
        image = #{row.image,jdbcType=VARCHAR},
      </if>
      <if test="row.shelfStatus != null">
        shelf_status = #{row.shelfStatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update basic_detail
    set id = #{row.id,jdbcType=BIGINT},
      category_id = #{row.categoryId,jdbcType=BIGINT},
      detail_type = #{row.detailType,jdbcType=VARCHAR},
      detail_name = #{row.detailName,jdbcType=VARCHAR},
      detail_code = #{row.detailCode,jdbcType=VARCHAR},
      unit = #{row.unit,jdbcType=INTEGER},
      round_up = #{row.roundUp,jdbcType=INTEGER},
      sort = #{row.sort,jdbcType=INTEGER},
      labor_cost = #{row.laborCost,jdbcType=DOUBLE},
      auxiliary_material_cost = #{row.auxiliaryMaterialCost,jdbcType=DOUBLE},
      labor_price = #{row.laborPrice,jdbcType=DOUBLE},
      accessories_price = #{row.accessoriesPrice,jdbcType=DOUBLE},
      auxiliary_material_loss_rate = #{row.auxiliaryMaterialLossRate,jdbcType=DOUBLE},
      engineering_stage = #{row.engineeringStage,jdbcType=INTEGER},
      construction_type = #{row.constructionType,jdbcType=INTEGER},
      material_description = #{row.materialDescription,jdbcType=VARCHAR},
      image = #{row.image,jdbcType=VARCHAR},
      shelf_status = #{row.shelfStatus,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.heyue.model.BasicDetail">
    update basic_detail
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="detailType != null">
        detail_type = #{detailType,jdbcType=VARCHAR},
      </if>
      <if test="detailName != null">
        detail_name = #{detailName,jdbcType=VARCHAR},
      </if>
      <if test="detailCode != null">
        detail_code = #{detailCode,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=INTEGER},
      </if>
      <if test="roundUp != null">
        round_up = #{roundUp,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="laborCost != null">
        labor_cost = #{laborCost,jdbcType=DOUBLE},
      </if>
      <if test="auxiliaryMaterialCost != null">
        auxiliary_material_cost = #{auxiliaryMaterialCost,jdbcType=DOUBLE},
      </if>
      <if test="laborPrice != null">
        labor_price = #{laborPrice,jdbcType=DOUBLE},
      </if>
      <if test="accessoriesPrice != null">
        accessories_price = #{accessoriesPrice,jdbcType=DOUBLE},
      </if>
      <if test="auxiliaryMaterialLossRate != null">
        auxiliary_material_loss_rate = #{auxiliaryMaterialLossRate,jdbcType=DOUBLE},
      </if>
      <if test="engineeringStage != null">
        engineering_stage = #{engineeringStage,jdbcType=INTEGER},
      </if>
      <if test="constructionType != null">
        construction_type = #{constructionType,jdbcType=INTEGER},
      </if>
      <if test="materialDescription != null">
        material_description = #{materialDescription,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="shelfStatus != null">
        shelf_status = #{shelfStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heyue.model.BasicDetail">
    update basic_detail
    set category_id = #{categoryId,jdbcType=BIGINT},
      detail_type = #{detailType,jdbcType=VARCHAR},
      detail_name = #{detailName,jdbcType=VARCHAR},
      detail_code = #{detailCode,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=INTEGER},
      round_up = #{roundUp,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      labor_cost = #{laborCost,jdbcType=DOUBLE},
      auxiliary_material_cost = #{auxiliaryMaterialCost,jdbcType=DOUBLE},
      labor_price = #{laborPrice,jdbcType=DOUBLE},
      accessories_price = #{accessoriesPrice,jdbcType=DOUBLE},
      auxiliary_material_loss_rate = #{auxiliaryMaterialLossRate,jdbcType=DOUBLE},
      engineering_stage = #{engineeringStage,jdbcType=INTEGER},
      construction_type = #{constructionType,jdbcType=INTEGER},
      material_description = #{materialDescription,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      shelf_status = #{shelfStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>