<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyue.mapper.MaterialCategoryMapper">
  <resultMap id="BaseResultMap" type="com.heyue.model.MaterialCategory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="material_category_name" jdbcType="VARCHAR" property="materialCategoryName" />
    <result column="material_category_code" jdbcType="VARCHAR" property="materialCategoryCode" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="isroot" jdbcType="CHAR" property="isroot" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, material_category_name, material_category_code, parent_id, isroot
  </sql>
  <select id="selectByExample" parameterType="com.heyue.model.MaterialCategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from material_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from material_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from material_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.heyue.model.MaterialCategoryExample">
    delete from material_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.heyue.model.MaterialCategory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into material_category (id,material_category_name, material_category_code,
      parent_id, isroot)
    values (#{#{id,jdbcType=BIGINT},materialCategoryName,jdbcType=VARCHAR}, #{materialCategoryCode,jdbcType=VARCHAR},
      #{parentId,jdbcType=BIGINT}, #{isroot,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.heyue.model.MaterialCategory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into material_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="materialCategoryName != null">
        material_category_name,
      </if>
      <if test="materialCategoryCode != null">
        material_category_code,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="isroot != null">
        isroot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="materialCategoryName != null">
        #{materialCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="materialCategoryCode != null">
        #{materialCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="isroot != null">
        #{isroot,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.heyue.model.MaterialCategoryExample" resultType="java.lang.Long">
    select count(*) from material_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update material_category
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.materialCategoryName != null">
        material_category_name = #{row.materialCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="row.materialCategoryCode != null">
        material_category_code = #{row.materialCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="row.parentId != null">
        parent_id = #{row.parentId,jdbcType=BIGINT},
      </if>
      <if test="row.isroot != null">
        isroot = #{row.isroot,jdbcType=CHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update material_category
    set id = #{row.id,jdbcType=BIGINT},
      material_category_name = #{row.materialCategoryName,jdbcType=VARCHAR},
      material_category_code = #{row.materialCategoryCode,jdbcType=VARCHAR},
      parent_id = #{row.parentId,jdbcType=BIGINT},
      isroot = #{row.isroot,jdbcType=CHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.heyue.model.MaterialCategory">
    update material_category
    <set>
      <if test="materialCategoryName != null">
        material_category_name = #{materialCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="materialCategoryCode != null">
        material_category_code = #{materialCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="isroot != null">
        isroot = #{isroot,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heyue.model.MaterialCategory">
    update material_category
    set material_category_name = #{materialCategoryName,jdbcType=VARCHAR},
      material_category_code = #{materialCategoryCode,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      isroot = #{isroot,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>