<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyue.mapper.SpaceItemMapper">
  <resultMap id="BaseResultMap" type="com.heyue.model.SpaceItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="space_item_name" jdbcType="VARCHAR" property="spaceItemName" />
    <result column="space_item_code" jdbcType="VARCHAR" property="spaceItemCode" />
    <result column="move_limit" jdbcType="INTEGER" property="moveLimit" />
    <result column="space_type" jdbcType="INTEGER" property="spaceType" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, category_id, space_item_name, space_item_code, move_limit, space_type, note, 
    sort
  </sql>
  <select id="selectByExample" parameterType="com.heyue.model.SpaceItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from space_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from space_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from space_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.heyue.model.SpaceItemExample">
    delete from space_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.heyue.model.SpaceItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into space_item (id,category_id, space_item_name, space_item_code,
      move_limit, space_type, note, 
      sort)
    values (#{id,jdbcType=BIGINT},#{categoryId,jdbcType=BIGINT}, #{spaceItemName,jdbcType=VARCHAR}, #{spaceItemCode,jdbcType=VARCHAR},
      #{moveLimit,jdbcType=INTEGER}, #{spaceType,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.heyue.model.SpaceItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into space_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="spaceItemName != null">
        space_item_name,
      </if>
      <if test="spaceItemCode != null">
        space_item_code,
      </if>
      <if test="moveLimit != null">
        move_limit,
      </if>
      <if test="spaceType != null">
        space_type,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="spaceItemName != null">
        #{spaceItemName,jdbcType=VARCHAR},
      </if>
      <if test="spaceItemCode != null">
        #{spaceItemCode,jdbcType=VARCHAR},
      </if>
      <if test="moveLimit != null">
        #{moveLimit,jdbcType=INTEGER},
      </if>
      <if test="spaceType != null">
        #{spaceType,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.heyue.model.SpaceItemExample" resultType="java.lang.Long">
    select count(*) from space_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update space_item
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.categoryId != null">
        category_id = #{row.categoryId,jdbcType=BIGINT},
      </if>
      <if test="row.spaceItemName != null">
        space_item_name = #{row.spaceItemName,jdbcType=VARCHAR},
      </if>
      <if test="row.spaceItemCode != null">
        space_item_code = #{row.spaceItemCode,jdbcType=VARCHAR},
      </if>
      <if test="row.moveLimit != null">
        move_limit = #{row.moveLimit,jdbcType=INTEGER},
      </if>
      <if test="row.spaceType != null">
        space_type = #{row.spaceType,jdbcType=INTEGER},
      </if>
      <if test="row.note != null">
        note = #{row.note,jdbcType=VARCHAR},
      </if>
      <if test="row.sort != null">
        sort = #{row.sort,jdbcType=INTEGER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update space_item
    set id = #{row.id,jdbcType=BIGINT},
      category_id = #{row.categoryId,jdbcType=BIGINT},
      space_item_name = #{row.spaceItemName,jdbcType=VARCHAR},
      space_item_code = #{row.spaceItemCode,jdbcType=VARCHAR},
      move_limit = #{row.moveLimit,jdbcType=INTEGER},
      space_type = #{row.spaceType,jdbcType=INTEGER},
      note = #{row.note,jdbcType=VARCHAR},
      sort = #{row.sort,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.heyue.model.SpaceItem">
    update space_item
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="spaceItemName != null">
        space_item_name = #{spaceItemName,jdbcType=VARCHAR},
      </if>
      <if test="spaceItemCode != null">
        space_item_code = #{spaceItemCode,jdbcType=VARCHAR},
      </if>
      <if test="moveLimit != null">
        move_limit = #{moveLimit,jdbcType=INTEGER},
      </if>
      <if test="spaceType != null">
        space_type = #{spaceType,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heyue.model.SpaceItem">
    update space_item
    set category_id = #{categoryId,jdbcType=BIGINT},
      space_item_name = #{spaceItemName,jdbcType=VARCHAR},
      space_item_code = #{spaceItemCode,jdbcType=VARCHAR},
      move_limit = #{moveLimit,jdbcType=INTEGER},
      space_type = #{spaceType,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>